html, body {
	height: 100%;
   	}

#contents_conf {
    display: none;
}
.ui.row.top {
	height: 60%;
}

.ui.error.message {
	display: none;
}

/*List bullets are not working properly in semantic ui*/
li.item:before {
	display: none;
}

.ui.checkbox input[type=checkbox]{
	top:unset;
	left:unset;
}


